  <div class="cardList"   *ngFor = "let product of AllProducts">
  <div class="col">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>{{product.Name}}</h5>
        </mdb-card-title>
        <img [src] = "product.Image" class="img-fluid rounded-circle hoverable" style ="width: 200px"alt="hoverable">
        <mdb-card-text>{{product.Price}}</mdb-card-text>
        <button (click) = "loadProduct(product._id)">VIEW PRODUCT</button>
      </mdb-card-body>
    </mdb-card>
  </div>
  </div>