<!--<div class="space"></div>
<div class="card card-cascade card-ecommerce"  *ngIf="Product">
    <div class="view view-cascade overlay">
    <img [src] = "Product.Image" class="img-fluid rounded-circle hoverable card-img-top " style ="width: 200px"alt="hoverable">
     <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <div class="card-body card-body-cascade text-center">
  <h5>{{Product.Category}}</h5>
  <h4 class="card-title"><strong>{{Product.Name}}</strong></h4>
  <ul class="rating">
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="fas fa-star"></i></li>
      <li><i class="far fa-star"></i></li>
    </ul>
  <p class = "card-text">{{Product.Description}}</p>
  <div class="card-footer">
    <span class="float-left"><strong>{{Product.Price}}</strong>&nbsp;&nbsp;<span class="color">Red</span></span>
    
    <span class="float-right">
      <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
      <a data-toggle="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-shopping-cart mr-3"></i></a>
      </span>
  </div>
  </div>
  </div>-->
  <div class="container  mt-5">
    <div class="row">
        <div class="col-md-5" *ngIf="Product">
            <img class="center-block product-img" src="{{Product?.Image}}" alt="{{Product?.Image}}">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{Product?.Name}}</h4>
                    <p class="card-text">{{Product?.Description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ID: {{Product?._id}}</li>
                    <li class="list-group-item">Category: {{Product?.Category}}</li>
                </ul>
                <div class="card-footer">
                    <p class="card-text">Availability: In Stock</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Price: {{Product?.Price }}</h4>
                </div>
            </div>
            </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>